@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <div class="text-center">
        <h1 class="display-4">Glavno Okno</h1>
    </div>

   <table class="table">

   <thead>
         <tr>
                <th>naziv</th>
                <th>avotr</th>
                <th>kategorija</th> 
         </tr>
   </thead>

    <tbody>
            @foreach (Knjiga knjiga in Model.seznamKnig.seznam)
            {
                <tr>
                    <td>
                        <a asp-page="/KnjigaOkno" asp-route-ID="@knjiga.Id">
                            @knjiga.naziv</a>
                                           
                    </td>
                    <td>
                        @knjiga.Avotr
                    </td>
                    <td>
                        <a asp-page="/KategoriOkno" asp-route-ID="@knjiga.kategorija">
                            @knjiga.kategorija
                        </a>
                    </td>
                </tr>
            }
      </tbody>

   
   </table>

}


